:root {
  --view-width: 100%;
  --view-height: calc(100% - 20px);
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.topbar {
  height: 20px;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar button {
  margin: 0 10px;
  background-color: #444;
  color: white;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.topbar button:hover {
  background-color: #555;
}

.mainview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--view-width);
  height: var(--view-height);
  overflow: hidden;
  background-color: #f0f0f0;
  transition:
    width 0.3s,
    height 0.3s;
  margin: auto; /* Centering when fixed size */
}

.view {
  display: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status-view {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 20px;
  left: -200px;
  width: 200px;
  height: calc(100% - 20px);
  /* background-color: #444; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: left 0.3s;
  background: #0a53be;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow:
    inset 1px 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar:hover {
  left: 0;
}

#resolutionSelect {
  margin-top: 20px;
  padding: 5px;
}
