<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/test.css" />
    <script type="text/javascript" src="js/test.js"></script>
  </head>
  <body>
    <div id="testid">
      <label class="fixed-width-element" for="testamount">Amount: </label>
      <input
        class="fixed-width-element"
        type="text"
        id="amount"
        value="5"
      /><br />
      <label class="fixed-width-element" for="testurl">Url: </label>
      <input
        class="fixed-width-element"
        type="text"
        id="url"
        value="/baseline3"
      /><br />
      <form id="formid" method="post" onsubmit="doSubmit(event, false)">
        <input type="hidden" name="id" value="abc" />
        <input type="submit" value="Submit" class="max-width-element" />
      </form>
      <div id="results"></div>
    </div>
  </body>
</html>
