<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/test.css" />
    <script type="text/javascript" src="js/test.js"></script>
  </head>
  <body>
    <div id="testid">
      <form id="formid" method="post" action="db_getobject">
        <input type="text" name="id" value="vmDeb12" />
        <input type="submit" value="Submit" class="max-width-element" />
      </form>
      <div id="results"></div>
    </div>
  </body>
</html>
